.main_screen {
  height: 100vh;
  width: 100vw;
  background-color: rgb(225, 225, 225);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.neumophic {
  border: transparent;
  box-shadow: 4px 4px 4px #0000002e, -4px -4px 3px white;
  background-color: rgb(225, 225, 225);
}

.movie_details {
  background-color: rgb(225, 225, 225);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 80%;
  overflow: auto;
  padding: 20px;
}

.title {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1.5px;
  text-align: center;
}

.plot {
  width: 75%;
  text-align: justify;
}

.poster {
  width: 50%;
  height: 300px;
}

@media screen and (max-width: 1250px) {
  .movie_details {
    width: 50%;
  }
}

@media screen and (max-width: 1000px) {
  .movie_details {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .movie_details {
    width: 80%;
  }
  .poster {
    width: 70%;
    height: 300px;
  }
}
